<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            
            <li class="main-header__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">My Cart</a>
            </li>
            <li class="main-header__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">My Orders</a>
            </li>           
            <li class="main-header__item">
                    <a class="<%= path === '/admin-products' ? 'active' : '' %>" href="/balance"> Balance</a>
            </li>
            <li class="main-header_item-right">
                    <a class="<%= path === '/admin-products' ? 'active' : '' %>" href="/logout"> Sign Out</a>
            </li>
        </ul>
    </nav>
</header>