<!-- <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <ul class="cart__item-list">
                        <li class="cart__item"> 
                    <h1>Title</h1>
                    <h2>Quantity</h2>
                    <h2> </h2>
                   </li>
                </ul>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productData.title %></h1>
                            <h2><%= p.qty %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.id %>" name="productId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                      
                </ul>
                <ul class="cart__item-list">
                        <li class="cart__item"> 
                                <h1> </h1>
                                
                                <form action="/checkout" method="POST" >
                                    <button class="btn danger" type="submit">Place Order</button>
                                </form>
                                <h2> </h2>
                   </li>
                </ul>
               
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %> -->



        <%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/cart.css">
        <!--===============================================================================================-->	
            <link rel="icon" type="image/png" href="/table/images/icons/favicon.ico"/>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/table/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/table/vendor/animate/animate.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/table/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/table/vendor/perfect-scrollbar/perfect-scrollbar.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/table/css/util.css">
            <link rel="stylesheet" type="text/css" href="/table/css/main.css">
        <!--===============================================================================================-->
        </head>
        <body>
            <%- include('../includes/navigation.ejs') %>
            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table100">
                            <table>
                                <thead>
                                    <tr class="table100-head">
                                        
                                        <th class="column1">Name</th>
                                        <th class="column2">Quantity</th>
                                        <th class="column3">Price</th>
                                        <th class="column4"></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                <% if (products.length > 0) { %>
                                   
                                        <% products.forEach(p => { %>
                                            <tr>
                                            
                                                    <td class="column1"><%= p.productData.title %></td>
                                                    <td class="column2"><%=p.qty %></td>
                                                    <td class="column3"><%=p.productData.price %></td>
                                                   
                                                    <td class="column4"><form action="/cart-delete-item" method="POST">
                                                        <input type="hidden" value="<%= p.id %>" name="productId">
                                                        <button class="btn danger" type="submit">Delete</button>
                                                    </form></td>
                                            
                                        <% }) %>
                              
                                   
                                <% } else { %>
                                    <h1>No Products in Cart!</h1>
                                <% } %>
                                
                                        
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                    
                                    
            <ul class="cart__item-list">
                    <li class="cart__item"> 
                            <h1> </h1>
                            
                            <form action="/checkout" method="POST" >
                                <button class="btn danger" type="submit">Place Order</button>
                            </form>
                            <h2> </h2>
               </li>
            </ul>
        
        
        </body>
        </html>